# Python dependencies for News Aggregator Project

# Ingestion & Processing
requests
beautifulsoup4
feedparser
aiohttp

# transformer
torch

# Summarization & Clustering
numpy
scikit-learn
openai==0.28
yake
nltk

# Backend & API
Flask
flask-socketio
python-dotenv
flask-cors==4.0.0
gunicorn==21.2.0
pydantic
tenacity
loguru

# Caching & Storage
redis
supabase
psycopg2-binary

# Testing
pytest

flask_cors
flask_restx